body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  background: #f2f2f2;
  font-size: 1em;
  line-height: 1.5em;
  /**/
  display: flex;
  flex-direction: column;
  height: 100%;
}
/**/
html {
  height: 100%;
  position: relative;
}
/**/
.ant-layout-footer {
  bottom: 0;
  position: relative;
  background-color: #20232a;
  color: white;
  width: 100%;
}

.ant-layout-content {
  margin-bottom: 0px;
}

.ant-layout {
  margin-bottom: 0;
}

h1 {
  font-size: 2.3em;
  line-height: 1.3em;
  margin: 15px 0;
  text-align: center;
  font-weight: 300;
}

p {
  margin: 0 0 1.5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #0b76a6;
}

label {
  font-family: cursive;
  font-size: 13px;
}

nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
}
