#logo-header {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
}
#logo-header:hover {
  color: #0b76a6;
}

#logo-header .site-name {
  display: block;
  font-weight: 600;
  font-size: 1.2em;
}

#logo-header .site-desc {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
  color: #999;
}

#main-content {
  align-content: center;
  text-align: justify;
  background: white;
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-content header,
#main-content .content {
  padding: 40px;
}

#main-footer {
  position: relative;
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
#main-footer p {
  position: relative;
  margin: 0;
}

#main-footer a {
  color: white;
}

.titulo {
  position: relative;
  background-color: #bdbdbd;
  width: 100%;
  height: 40px;
  padding: 15px 0 15px 0;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
}

#boton {
  border: 1px solid #d3d3d3;
  padding: 8px;
}

#cont {
  border: 1px solid #d3d3d3;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

#restriccion {
  margin-left: 5%;
}

#my_table {
  text-align: center;
  margin: auto;
  align-content: center;
  width: 250px;
  border: 1px solid #000;
  border-collapse: collapse;
}

#my_table tr,
#my_table td {
  width: 200px;
  background: #fdfefe;
  border-bottom: 1px solid #fff;
  color: #212f3c;
  border: 1px solid #acb1ac;
}

#my_table td:hover tr {
  background: #d0dafd;
  color: #e74c3c;
}
